#body{
    margin: 8% 20% 0;
    font-size: 13pt;
}
.A_first{
    margin-left: 30px;
}
.A_third{
    clear: both;
    margin-left: 30px;
}
.A_second{
    margin: 30px;
}
table{
    margin-left: 150px;
    margin-top: 50px;
    width: 15%;
    height: 20%;
    text-align: center;
}
#notimportant{
    height : 80 px;
}

.highlighted {
    color: #261F1D;
    background-color: #E5C37E;
}
td:hover, td.alt:hover {
    color: #261F1D;
    background-color: #E5C37E;
}
