#body{
    margin: 5% 20% 0;
    font-size: 13pt;
}
table{
    margin-left: 200px;
    margin-top: 50px;
    width: 15%;
    height: 20%;
    text-align: center;
}
.A_first{
    margin-left: 100px;
}
.A_third{
    clear: both;
    margin-left: 30px;
}
.A_second{
    margin: 30px;
}

#notimportant{
    height : 80 px;
}

.highlighted {
    color: #261F1D;
    background-color: #E5C37E;
}
td:hover, td.alt:hover {
    color: #261F1D;
    background-color: #E5C37E;
}
th{
text-align: center;
}