#body{
    margin: 8% 20% 0;
    font-size: 13pt;
}
.A_first{
    margin-left: 30px;
}
.A_third{
    clear: both;
    margin-left: 30px;
}
.A_second{
    margin: 30px;
}
table{
    margin-left: 150px;
    margin-top: 50px;
    width: 15%;
    height: 20%;
}
.A_third{

}
#seulgi{
    height : 80 px;
}

*/
