td:hover, td.alt:hover {
    color: #261F1D;
    background-color: #E5C37E;
}

table{
    margin-left: 200px;
    margin-top: 50px;
    width: 15%;
    height: 20%;
    text-align: center;
}
.notimportant{
    height : 80 px;
}

#C_body_first{
    float: right;
}