<style>


body{
    margin-top: 0;
    padding: 0 ;
    background-color:#F2F3F4;
}

header {
    text-align: center;
    background-color:white;
    font-size: 3.0em;
    font-family: Arial;
    font-weight: bold;
    padding-top: 20px;

}

section#main{
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: darkgrey;

}


/*div#login_information_area{*/
/*margin-left: 45%;*/
/*}*/

dl.login_information{
    text-align: center;
    font-size: 1.6em;

}

dl.login_information dt:nth-child(1){
    font-size: 2.0em;
    font-weight: bold;
    padding-top: 10px;
}

dl.login_information dt:nth-child(2){
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 5px;

}

table.login_input_field{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;


}

button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 30px 5px 30px;
    text-decoration: none;
    border-radius: 10px;
}

button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

table {
    border-spacing: 5px;
}

tr td#password_waring_caption{
    color: red;
    text-align: center;
    padding-top: 30px;
}
dl.important_information{
    text-align: center;
    font-size: 1.0em;

}

dl.important_information dt:nth-child(1){
    color : #ff3025;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 10px;
}


</style>

  #main_button {
      margin: 21% 20% 0;
  }


.btn-menu{
    width: 130px;
    height: 50px;
    margin-left: 20px;
    margin-right: -20px;
    margin-bottom: 30px;
    margin-top: 15px;
}

#login_body{
    margin-top: 5%;
}
