<link rel="stylesheet" href="{{ url_for('static', filename='admin.css')}}">
{% extends "base.html" %}


{% block optional_javascript %}
    <script src="{{ url_for('static', filename='register.js') }}"></script>
{% endblock %}

{% block content %}
    <style>
        section {

            margin-left: 180px;
        }
    </style>


    <aside>
        <link rel="stylesheet" href="{{ url_for('static', filename='admin.css')}}">

        <div id="wrapper" class="active">

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul id="sidebar_menu" class="sidebar-nav">
                    <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu</a></li>
                </ul>
                <ul class="sidebar-nav" id="sidebar">
                    <li><a href="adminStudent.html">학생정보</a></li>
                    <li><a href="adminStudentFee.html">학회비 납부</a></li>
                    <li><a>사물함 관리</a></li>
                </ul>
            </div>



        </div>
    </aside>


    <section>
        <div id="content">
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>학번</th>
                    <th>학생 이름</th>
                    <th>생년월일</th>
                    <th>E-mail</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>201433261</td>
                    <td>리세리</td>
                    <td>19951005</td>
                    <td>seri19951005@gmail.com</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>201433265</td>
                    <td>홍길동</td>
                    <td>19942093</td>
                    <td>3sjdhsk@gmail.com</td>
                </tr>
            </table>
        </div>
        <form role="form" id="register_form" name="register_info" method="POST" action="adminstudentregister">
            <div class="form-group">
                <label for="studentnumber">학번</label>
                <input type="text" class="form-control" id="studentnumber" name="id" placeholder="201xxxxxx">
            </div>
            <div class="form-group">
                <label for="name">이름</label>
                <input type="text" class="form-control" id="name" name="username" placeholder="홍길">
            </div>
            <div class="form-group">
                <label for="birth">생년월일</label>
                <input type="text" class="form-control" id="birth" name="birthdate" placeholder="199xxxxx">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="hong@example.com">
            </div>
            <button type="submit" class="btn btn-default" id="register_btn">추가</button>
        </form>
    </section>


    <!-- script references -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

{% endblock %}