
<link rel="stylesheet" href="{{ url_for('static', filename='B_map.css')}}">
{% extends "base.html" %}


{% block content %}

<script type="text/javascript">



   $(document).ready(function(){
   $("td").click(function() {
           alert($(this).html());
   })
   });

</script>

<div id="B_map">
  <div id="top_B_map" >
    <table border="1" id="notimportant" >
      <th>화장실</th>
      <th>과실</th>
    </table>
  </div>
  <div id="B_body_first" style="float: left">
    <table border="1">
      <tr>
        <th class="층" bgcolor="aqua">4층</th>
        <th class="층" bgcolor="aqua">3층</th>
        <th class="층" bgcolor="aqua">2층</th>
        <th class="층" bgcolor="aqua">1층</th>
      </tr>
      <tr>
        <script>
          var row = 232;
          var number = 186;
          for (number ; number<=row; number=number + 15){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 231;
          var number = 185;
          for (number ; number<=row; number=number + 15){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 230;
          var number = 184;
          for (number ; number<=row; number=number + 15){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 229;
          var number = 183;
          for (number ; number<=row; number=number + 15){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 228;
          var number = 182;
          for (number ; number<=row; number=number + 15){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 227;
          var number = 181;
          for (number ; number<=row; number=number + 15){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 226;
          var number = 180;
          for (number ; number<=row; number=number + 15){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 225;
          var number = 179;
          for (number ; number<=row; number=number + 15){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>

      <tr>
        <script>
          var row = 224;
          var number = 178;
          for (number ; number<=row; number=number + 15){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 223;
          var number = 177;
          for (number ; number<=row; number=number + 15){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 222;
          var number = 176;
          for (number ; number<=row; number=number + 15){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 221;
          var number = 175;
          for (number ; number<=row; number=number + 15){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 220;
          var number = 174;
          for (number ; number<=row; number=number + 15){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 218;
          var number = 173;
          for (number ; number<=row; number=number + 15){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 217;
          var number = 172;
          for (number ; number<=row; number=number + 15){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
    </table>
    <table border="1" >
      <tr>
        <th class="층" bgcolor="aqua">1층</th>
        <th class="층" bgcolor="aqua">2층</th>
        <th class="층" bgcolor="aqua">3층</th>
        <th class="층" bgcolor="aqua">4층</th>
      </tr>
      <tr>
        <script>
          var row = 148;
          var number = 166;
          for (number ; number>=row; number=number - 6){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 149;
          var number = 167;
          for (number ; number>=row; number=number - 6){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 150;
          var number = 168;
          for (number ; number>=row; number=number - 6){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 151;
          var number = 169;
          for (number ; number>=row; number=number - 6){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 152;
          var number = 170;
          for (number ; number>=row; number=number - 6){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 153;
          var number = 171;
          for (number ; number>=row; number=number - 6){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
    </table>
    <table border="1">
      <tr>
        <th class="층" bgcolor="aqua">4층</th>
        <th class="층" bgcolor="aqua">3층</th>
        <th class="층" bgcolor="aqua">2층</th>
        <th class="층" bgcolor="aqua">1층</th>
      </tr>
      <tr>
        <script>
          var row = 267;
          var number = 236;
          for (number ; number<=row; number=number +9){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 266;
          var number = 237;
          for (number ; number<=row; number=number +9){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 265;
          var number = 238;
          for (number ; number<=row; number=number +9){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
    </table>
    <table border="1">
      <tr>
        <script>
          var row = 259;
          var number = 264;
          for (number ; number>=row; number=number - 1){
            document.write("<td>"+number+"</td>");
          }
        </script>
        <th class="층" bgcolor="aqua">1층</th>
      </tr>
      <tr>
        <script>
          var row = 250;
          var number = 255;
          for (number ; number>=row; number=number - 1){
            document.write("<td>"+number+"</td>");
          }
        </script>
        <th class="층" bgcolor="aqua">2층</th>
      </tr>
      <tr>
        <script>
          var row = 241;
          var number = 246;
          for (number ; number>=row; number=number - 1){
            document.write("<td>"+number+"</td>");
          }
        </script>
        <th class="층" bgcolor="aqua">3층</th>
      </tr>
      <tr>
        <script>
          var row = 232;
          var number = 237;
          for (number ; number>=row; number=number - 1){
            document.write("<td>"+number+"</td>");
          }
        </script>
        <th class="층" bgcolor="aqua">4층</th>
      </tr>
    </table>
    <table border="1">
      <tr>
        <script>
          var row = 316;
          var number = 321;
          for (number ; number>=row; number=number - 1){
            document.write("<td>"+number+"</td>");
          }
        </script>
        <th class="층" bgcolor="aqua">1층</th>
      </tr>
      <tr>
        <script>
          var row = 307;
          var number = 312;
          for (number ; number>=row; number=number - 1){
            document.write("<td>"+number+"</td>");
          }
        </script>
        <th class="층" bgcolor="aqua">2층</th>
      </tr>
      <tr>
        <script>
          var row = 298;
          var number = 303;
          for (number ; number>=row; number=number - 1){
            document.write("<td>"+number+"</td>");
          }
        </script>
        <th class="층" bgcolor="aqua">3층</th>
      </tr>
    </table>
    <table border="1">
      <tr>
        <script>
          var row = 322;
          var number = 324;
          for (number ; number>=row; number=number - 1){
            document.write("<td>"+number+"</td>");
          }
        </script>
        <th class="층" bgcolor="aqua">1층</th>
      </tr>
      <tr>
        <script>
          var row = 313;
          var number = 315;
          for (number ; number>=row; number=number - 1){
            document.write("<td>"+number+"</td>");
          }
        </script>
        <th class="층" bgcolor="aqua">2층</th>
      </tr>
      <tr>
        <script>
          var row = 304;
          var number = 306;
          for (number ; number>=row; number=number - 1){
            document.write("<td>"+number+"</td>");
          }
        </script>
        <th class="층" bgcolor="aqua">3층</th>
      </tr>
      <tr>
        <script>
          var row = 295;
          var number = 297;
          for (number ; number>=row; number=number - 1){
            document.write("<td>"+number+"</td>");
          }
        </script>
        <th class="층" bgcolor="aqua">4층</th>
      </tr>
    </table>
    <table border="1">
      <tr>
        <script>
          var row = 286;
          var number = 294;
          for (number ; number>=row; number=number - 1){
            document.write("<td>"+number+"</td>");
          }
        </script>
        <th class="층" bgcolor="aqua">1층</th>
      </tr>
      <tr>
        <script>
          var row = 277;
          var number = 285;
          for (number ; number>=row; number=number - 1){
            document.write("<td>"+number+"</td>");
          }
        </script>
        <th class="층" bgcolor="aqua">2층</th>
      </tr>
      <tr>
        <script>
          var row = 268;
          var number = 276;
          for (number ; number>=row; number=number - 1){
            document.write("<td>"+number+"</td>");
          }
        </script>
        <th class="층" bgcolor="aqua">3층</th>
      </tr>
    </table>
  </div>
  <div id="B_body_second">
    <table border="1">
      <tr>
        <th class="층" bgcolor="aqua">1층</th>
        <th class="층" bgcolor="aqua">2층</th>
        <th class="층" bgcolor="aqua">3층</th>
        <th class="층" bgcolor="aqua">4층</th>
      </tr>
      <tr>
        <script>
          var row = 325;
          var number = 343;
          for (number ; number>=row; number=number - 6){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 326;
          var number = 344;
          for (number ; number>=row; number=number - 6){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 327;
          var number = 345;
          for (number ; number>=row; number=number - 6){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 328;
          var number = 346;
          for (number ; number>=row; number=number - 6){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 329;
          var number = 347;
          for (number ; number>=row; number=number - 6){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
      <tr>
        <script>
          var row = 330;
          var number = 348;
          for (number ; number>=row; number=number - 6){
            document.write("<td>"+number+"</td>");
          }
        </script>
      </tr>
    </table>
  </div>
</div>


<!-- script references -->

{% endblock %}
