<link rel="stylesheet" href="{{ url_for('static', filename='C_map.css')}}">
{% extends "base.html" %}


{% block content %}

<script type="text/javascript">


   $(document).ready(function(){
   $("td").click(function() {
           showDialog();
   })
   });
   function showDialog(){
   alert($("this").number);
   }

</script>


<div id="C_map">
    <div>
        <table border="1" class="notimportant">
            <tr><th>창고</th></tr>
        </table>
        <table border="1" class="notimportant">
            <tr><th><-계단</th></tr>
        </table>
        <table border="1" class="notimportant">
            <tr><th>->계단</th></tr>
        </table>
    </div>
    <div id="C_body_first">
        <table border="1">
            <tr>
                <script>
                    var row = 400;
                    var number = 424;
                    for (number ; number>=row; number=number - 12){
                        document.write("<td>"+number+"</td>");
                     }
                </script>
            </tr>
            <tr>
                <script>
                  var row = 401;
                  var number = 425;
                  for (number ; number>=row; number=number - 12){
                    document.write("<td>"+number+"</td>");
                  }
                </script>
            </tr>
            <tr>
                <script>
                    var row = 402;
                    var number = 426;
                      for (number ; number>=row; number=number - 12){
                        document.write("<td>"+number+"</td>");
                     }
                </script>
            </tr>
            <tr>
                <script>
                    var row = 403;
                    var number = 427;
                    for (number ; number>=row; number=number - 12){
                     document.write("<td>"+number+"</td>");
                    }
                 </script>
            </tr>
            <tr>
                <script>
                    var row = 404;
                    var number = 428;
                    for (number ; number>=row; number=number - 12){
                        document.write("<td>"+number+"</td>");
                    }
                 </script>
            </tr>
            <tr>
                <script>
                     var row = 405;
                     var number = 429;
                     for (number ; number>=row; number=number - 12){
                        document.write("<td>"+number+"</td>");
                    }
                </script>
            </tr>
            <tr>
                <script>
                    var row = 406;
                    var number = 430;
                    for (number ; number>=row; number=number - 12){
                        document.write("<td>"+number+"</td>");
                    }
                </script>
            </tr>
            <tr>
                <script>
                    var row = 407;
                    var number = 431;
                    for (number ; number>=row; number=number - 12){
                        document.write("<td>"+number+"</td>");
                    }
                </script>
            </tr>
            <tr>
                <script>
                    var row = 408;
                    var number = 432;
                    for (number ; number>=row; number=number - 12){
                      document.write("<td>"+number+"</td>");
                    }
                </script>
            </tr>
            <tr>
                <script>
                    var row = 409;
                    var number = 433;
                    for (number ; number>=row; number=number - 12){
                        document.write("<td>"+number+"</td>");
                    }
                </script>
            </tr>
            <tr>
                <script>
                    var row = 410;
                    var number = 434;
                    for (number ; number>=row; number=number - 12){
                        document.write("<td>"+number+"</td>");
                    }
                </script>
            </tr>
            <tr>
                <script>
                    var row = 411;
                    var number = 435;
                    for (number ; number>=row; number=number - 12){
                        document.write("<td>"+number+"</td>");
                    }
                 </script>
            </tr>
            <tr>
                <th class="층" bgcolor="aqua">1층</th>
                <th class="층" bgcolor="aqua">2층</th>
                <th class="층" bgcolor="aqua">3층</th>
            </tr>
        </table>
    </div>
    <div id="id="C_body_second"">
        <table border="1">
            <tr>
                <script>
                    var row = 436;
                    var number = 445;
                    for (number ; number>=row; number=number - 3){
                        document.write("<td>"+number+"</td>");
                    }
                </script>
            </tr>
            <tr>
                <script>
                      var row = 437;
                      var number = 446;
                      for (number ; number>=row; number=number - 3){
                        document.write("<td>"+number+"</td>");
                      }
                    </script>
            </tr>
            <tr>
                <script>
                      var row = 438;
                      var number = 447;
                      for (number ; number>=row; number=number - 3){
                        document.write("<td>"+number+"</td>");
                      }
                    </script>
            </tr>
            <tr>
                <th class="층" bgcolor="aqua">1층</th>
                <th class="층" bgcolor="aqua">2층</th>
                <th class="층" bgcolor="aqua">3층</th>
                <th class="층" bgcolor="aqua">4층</th>
            </tr>
        </table>
    </div>
    <div id="id="C_body_third"">
        <table border="1">
            <tr>
                <th class="층" bgcolor="aqua">3층</th>
                <script>
                      var row = 357;
                      var number = 349;
                      for (number ; number<=row; number=number + 1){
                        document.write("<td>"+number+"</td>");
                      }
                    </script>
            </tr>
            <tr>
                <th class="층" bgcolor="aqua">2층</th>
                <script>
                      var row = 366;
                      var number = 358;
                      for (number ; number<=row; number=number + 1){
                        document.write("<td>"+number+"</td>");
                      }
                    </script>
            </tr>
            <tr>
                <th class="층" bgcolor="aqua">1층</th>
                <script>
                      var row = 375;
                      var number = 367;
                      for (number ; number<=row; number=number + 1){
                        document.write("<td>"+number+"</td>");
                      }
                    </script>
            </tr>
        </table>
        <table border="1">
            <tr>
                <script>
                      var row = 381;
                      var number = 376;
                      for (number ; number<=row; number=number + 1){
                        document.write("<td>"+number+"</td>");
                      }
                </script>
                <th class="층" bgcolor="aqua">1층</th>
            </tr>
            <tr>
                <script>
                      var row = 387;
                      var number = 382;
                      for (number ; number<=row; number=number+ 1){
                        document.write("<td>"+number+"</td>");
                      }
                </script>
                <th class="층" bgcolor="aqua">1층</th>
            </tr>
            <tr>
                <script>
                  var row = 393;
                  var number = 388;
                  for (number ; number<=row; number=number + 1){
                    document.write("<td>"+number+"</td>");
                  }
                </script>
                <th class="층" bgcolor="aqua">1층</th>
            </tr>
            <tr>
                <script>
                  var row = 399;
                  var number = 394;
                  for (number ; number<=row; number=number + 1){
                    document.write("<td>"+number+"</td>");
                  }
                </script>
                <th class="층" bgcolor="aqua">1층</th>
            </tr>
        </table>
    </div>
</div>

<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>

</html>
{% endblock %}