<link rel="stylesheet" href="{{ url_for('static', filename='change_FirstPassword.css')}}">
{% extends "base.html" %}

{% block content %}

<form id="form">
  <fieldset id="fieldset" >
    <pre>
      <legend><h1>초기비밀번호&이메일 변경</h1></legend>
      학생들의 개인정보 보호를 위해 초기 비밀번호와 이메일 변경을 제안합니다.

      비밀번호 입력:            <input type="text"><br>

      비밀번호 재입력:           <input type="text"><br>

      e-mail 입력:             <input type="email" name="email" required><br>

      email 재입력:           <input type="email" name="email" required><br>

      <input class="btn btn-default" type="submit" value="Submit">
    </pre>
  </fieldset>
</form>
{% endblock %}