




<link rel="stylesheet" href="{{ url_for('static', filename='login_page.css')}}">
{% extends "base.html" %}

{% block optional_javascript %}
<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
{% endblock %}
{% block content %}

<form id="form">
    <fieldset id="fieldset">
          <pre>
            <legend><h1>비상 연락용 이메일로 비밀번호 받기</h1></legend>
            이름:<input type="text"><br>

            ID:<input type="text"><br>

            e-mail 주소:<input type="email" name="email" required><br>
              위의 이메일주소 기존 이메일주소 같아야,비밀번호를 받을 수 있습니다.<br>
            <a href="findPassword2.html"> <button class="btn btn-default" type="submit">SUBMIT</button></a>
          </pre>
    </fieldset>
</form>


{% endblock %}

<!--{% block header %} {% include 'header.html' %} {% endblock %}-->
<!--{% block footer %} {% include 'footer.html' %} {% endblock %}-->

