






<link rel="stylesheet" href="{{ url_for('static', filename='login_page.css')}}">
{% extends "base.html" %}

{% block content %}
<div id="login_body">
    <header id="header">
        <dl class="tema_logo">
            <dt>사물함신청</dt>
        </dl>
    </header>

    <form class="form-signin" method="post" action="login_test">

        <div id="login_information_area">
            <dl class="login_information">
                <dt>로그인</dt>
                <dt>아이디와 비밀번호를 입력하세요</dt>
            </dl>

            <form id="login_form" action="login_validate.html" method="POST" >
                <table class="login_input_field">
                    <tr id="login_id">
                        <td > ID:</td>
                        <td> <input type="text" class="col-xs-8 id=" id="ID" name="ID"/> </td>
                    </tr>

                    <tr id="login_password">
                        <td>Password: </td>
                        <td><input type="password" class="col-xs-8" name="password" id="password"/> </td>
                    </tr>


                    <div id="main_button">
                        <div class="container" >
                            <tr>
                                <td colspan="1">
                                    <button type="submit" id="submit_button" class="btn btn-info btn-primary btn-lg btn-menu" >로그인</button>
                                </td>
                                <td colspan="1">

                                    <button type="button" id="searching_button" class="btn btn-info btn-primary btn-lg btn-menu">비밀번호찾기</button>

                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" id="password_waring_caption">
                                </td>
                            </tr>
                        </div>
                    </div>
                </table>
            </form>
            <div>
                <dl class="important_information">
                    <dt>*공지사항*</dt>
                    <dt>-초기 아이디는 학번, 초기비밀번호는 주민번호앞자리입니다.</dt>
                    <dt>-학생회비를 내지 않은 사람은 신청이 불가능합니다.</dt>
                    <dt>-초기 로그인 이후 반드시 비밀번호를 변경하시기 바랍니다.</dt>
                    <dt>-초기 로그인 이후 이메일 주소를 반드시 등록하시기 바랍니다.(비밀번호 찾기시 필요)</dt>
                </dl>
            </div>
        </div>
    </form>
</div>


{% endblock %}