<link rel="stylesheet" href="{{ url_for('static', filename='total_map.css') }}" xmlns="http://www.w3.org/1999/html">
{% extends "base.html" %}


{% block optional_javascript %}

<!-- script references -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
{% endblock %}




{% block content %}

<div id="total_map">
    <div id="A_map">
        <a href="a_map"><img src=" {{  url_for('static', filename='A_map_image.png')}} " class="A_map_size"></a>
    </div>
    <div id="C_map">
        <a href="c_map"><img src=" {{  url_for('static', filename='C_map_image.png')}} " class="C_map_size"></a>
    </div>
    <div id="B_map">
        <a href="b_map"><img src=" {{  url_for('static', filename='B_map_image.png')}} " class="B_map_size"></a>
    </div>
</div>


{% endblock %}
